*{
  transition: 0.5s;
}
body {
  margin-top: -55px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background: white;
  
  
}
.sm13{
  font-size: 20px;
}




.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

#nav1:hover{
  box-shadow: 0 0 10px green;

}


@media (min-width: 40em) {
  


  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.row{
  background:white;
}
